body {
    background-color: #ccc;
}

.selections {
    display: flex;
    justify-content: center;
}

.selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;  
}

.selection:hover {
    transform: scale(1.2);
    transition: 200ms;
}

.results {
    margin-top: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    font-size: 60px;
}

.result_score {
    margin-left: .1rem;
    color: lightcoral;
}

.result_selection {
    opacity: 0.5;
}

.result_selection.winner {
    opacity: 1;
    font-size: 80px;
}